<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	      <!-- mapping apabila menggunakan annotation -->
	      <!-- contoh :
	           <mapping class="xbc.model.Barang"/>
	       -->
	       <mapping class="xbc.model.TestType"/>
	       <mapping class="xbc.model.BootcampTestType"/>
	       <mapping class="xbc.model.IdleNews"/>
	       <mapping class="xbc.model.Assignment"/>
	  
	       <mapping class="xbc.model.AuditLog"/>
	       
	       <!-- Punya orang lain -->
	      <mapping class="xbc.model.Category"/>
	      <mapping class="xbc.model.Role"/>
	      <mapping class="xbc.model.User"/>
	      <mapping class="xbc.model.Biodata"/>
	      <mapping class="xbc.model.IdleMonitoring"/>
	      
	</session-factory>
</hibernate-configuration>